h3 {
    color: #1c7f98;
    text-decoration:underline;
    
}
header {
    background-color: #80d4ff;
    color: #Grey;
    font-family: 'Baloo Tamma', cursive;
}
body {
    background-color: #white;
}
main {
    background-color: #whitesmoke ;
    padding: 16px;
}
h1 {
    letter-spacing: 4px;
}

.post {
    margin-bottom: 48px;
}
.post .user-info img {
    border-radius:50%;
}

.user_avatar {
    border-radius:50%;
    width:50px;
    height: auto;
}

.button {
    border-radius:5px;
    box-shadow: 10px 10px 25px #ccccff;
}

.form-box {
    margin: 0 auto;
    background-color: white;
    width: 350px;
    height: 600px;
    border: 1px solid;
}
.form-group {
    text-align: center;
}


/* a:hover {
    transform:rotate(360deg);
}
a {
    transition: ease-in-out 0.5s;
} \*
