.photo {
    padding: 5px;
    text-align: center;
}
h2 {
    font-family:'rubik';
}
h3 {
    color: teal;
    font-family:'rubik';
    
}
header {
        background-color: #99ffff;
        font-family: 'Baloo Tamma', cursive;
        height:50px;
        
    }
   body {
        background-color: #white;
}
main {
    background-color: #whitesmoke ;
    padding: 16px;
}
h1 {
    letter-spacing: 4px;
}

.post {
    vertical-align: 5px;
    margin-bottom: 48px;
    border-color: teal;
    border-style: solid;
    border-width: 1px;
    padding: 40px;
}
.post .user-info img {
    border-radius:50%;
}
.post 

.user_avatar {
    border-radius:50%;
    width:50px;
    height: auto;
}

.button {
    border-radius:5px;
    box-shadow: 10px 10px 25px #ccccff;
}

.form-box {
    margin: 0 auto;
    background-color: white;
    width: 350px;
    height: 300px;
    
}
.form-group {
    text-align: center;
    
}
.parallax {

     background-color: #552587;
     min-height: 650px;
     background-image: url(https://media.giphy.com/media/3o7TKsVvxItE9DvWGk/source.gif);
     background-attachment:fixed;
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
    
}

.login-info {
    color:teal;
}

.login-form {
     margin: 45px;
}

/* a:hover {
    transform:rotate(360deg);
}
a {
    transition: ease-in-out 0.5s;
} \*
