<center><h2>New Sound</h2></center>
<ul class="errors">
    <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
</ul>
    
<form action="/posts" method="POST">
   
    <div class="form-group">
        <a href="http://www.mailboxdrive.com/upload/">Click to convert Mp3 to url</a>
        <label for="photo_url">photo_url</label>
        <input type="text" id="photo_url" name="photo_url">
    </div>
    <div class="form-group">
        <button class="button" type="submit">Post</button>
    </div>
</form>