<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <title>Vibes</title>
    </head>
    <body>
        <div class="parallax">
            <!--<center>-->
            <!--<img src="https://media.giphy.com/media/l2JhGWwfQFkhT5Cbm/source.gif" loop="-1">-->
            <!--</center>-->
        </div>
        <main role="main">
            <div class="login-info">
                <% if current_user %>
                    <%= current_user.username %>
                    <a href="/logout">Logout</a> | 
                <% else %>
                    <a href="/login">Login</a> | 
                    <a href="/signup">Signup</a> | 
                <% end %>
                <a href="/home">Home</a>
            </div>
            <%= yield %>
        </main>
    </body>
</html>
